---
import { SUBSCRIPTION_PAGE_ID } from '../../server-constants.ts'
import { getAllBlocksByBlockId } from '../../lib/notion/client.ts'
import Layout from '../../layouts/Layout.astro'
import NotionBlocks from '../../components/NotionBlocks.astro'

const blocks = await getAllBlocksByBlockId(SUBSCRIPTION_PAGE_ID)
---

<Layout title="読者になる" path="/subscribe">
  <div slot="main">
    <NotionBlocks blocks={blocks} isRoot={true} />
  </div>

  <div slot="aside">
  </div>
</Layout>
