.blogIndex {
  padding: 0 5%;
}

.blogIndex h1 {
  margin-bottom: 50px;
}

.previewAlertContainer {
  display: flex;
  justify-content: center;
}

.previewAlert {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border: 1px solid #eaeaea;
  width: 400px;
  padding: 16px;
  border-radius: 5px;
}

.escapePreview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: black;
  border: 1px solid black;
  color: white;
  padding: 10px;
  height: 24px;
  border-radius: 5px;
  transition: all 0.2s ease 0s;
}
.escapePreview:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
  cursor: pointer;
}

.titleContainer {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}
.draftBadge {
  border-radius: 16px;
  background-color: black;
  color: white;
  font-size: 14px;
  font-weight: 200;
  padding: 2px 7px;
  margin-right: 6px;
}

.noPosts {
  text-align: center;
}

.postPreview {
  max-width: 600px;
  margin: 0 auto 40px;
}

.postPreview h3,
.post h1 {
  margin-bottom: 0;
}

.postPreview p {
  margin-top: 0.3em;
}

.post h1 {
  margin-top: 0;
  font-size: 1.25rem;
  font-weight: 700;
  /*font-size: 2.25rem;
  font-weight: 800;*/
  letter-spacing: -0.05rem;
}

.post :global(h2) {
  margin: 2.5rem 0 1.25rem 0;
}
.post :global(h3) {
  margin: 2rem 0 1rem 0;
  font-size: 1em;
}

.post :global(video),
.post :global(img),
.post :global(.asset-wrapper) {
  /*margin: 2rem auto;*/
  /*box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);*/
  max-width: 100%;
  display: block;
}

.post :global(.tweet) {
  margin: 2rem auto;
  text-align: center;
}

.post :global(.callout) {
  padding: 16px 16px 16px 12px;
  display: flex;
  width: 100%;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  background: rgba(235, 236, 237, 0.6);
  color: #222;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.7rem;
}

.post :global(.callout .text) {
  margin-left: 8px;
}

.post .caption {
  font-size: 0.9rem;
  color: #666;
}

.post blockquote {
  margin: 0;
  padding: 0.3em 0.6em;
  border-left: 5px solid #ddd;
  font-size: 0.9rem;
  font-style: italic;
  line-height: 1.8em;
}

.post :global(.underline) {
  text-decoration: underline;
}

.postPreview :global(.posted) {
  margin-top: 0.3em;
  margin-bottom: 0.1em;
}

.post {
  max-width: calc(600px + 10%);
  margin: 0 auto;
  padding: 5%;
}

.post :global(hr) {
  margin-bottom: 2em;
}

.post :global(a + p) {
  margin-top: 0;
}

.tagIndex {
  max-width: calc(600px + 10%);
  margin: 0 auto;
  padding: 0 5%;
}

.noTags {
  text-align: center;
}

.tag {
  font-size: 0.8em;
  padding-right: 0.8em;
}

@media (max-width: 600px) {
  .tag {
    font-size: 0.75em;
    padding-right: 0.75em;
  }
}
