.header {
  display: block;
  padding: 15px 0;
  text-align: center;
}
.header > a {
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
}
.header > a h1 {
  padding-top: 10px;
  color: #000;
  font-weight: 400;
}
@media (max-width: 600px) {
  .header > a h1 {
    margin-right: 14px;
    padding-top: 14px;
  }
}
.header ul {
  list-style: none;
  margin: inherit;
  padding: 0.5rem 0;
  font-size: 1.1rem;
}
@media (max-width: 600px) {
  .header ul {
    font-size: 1rem;
  }
}
.header ul li {
  display: inline-block;
  padding: 0 15px;
}
.header ul li :global(a.active) {
  color: var(--accents-3);
}
