---
import type { SelectProperty } from '../lib/interfaces.ts'
import { getTagLink } from '../lib/blog-helpers.ts'
import '../styles/notion-color.css'

export interface Props {
  tags: SelectProperty[]
}

const { tags } = Astro.props
---

<div class="blog-tags-link">
  {
    tags.length > 0 && (
      <ul>
        {tags.map((tag: SelectProperty) => (
          <li>
            <a href={getTagLink(tag.name)} class={`tag ${tag.color}`}>
              {tag.name}
            </a>
          </li>
        ))}
      </ul>
    )
  }
</div>

<style>
  .blog-tags-link {
  }
  .blog-tags-link ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0.3rem;
    margin-block-end: 1rem;
  }
  .blog-tags-link ul li {
    display: inline-block;
    position: relative;
    margin-bottom: 0.6rem;
    margin-right: 0.6rem;
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .blog-tags-link ul li a {
    min-width: 0;
    border-radius: 3px;
    padding: 2px 6px;
    line-height: 1.2;
    color: rgb(50, 48, 44);
    background: rgba(227, 226, 224, 0.5);
  }
</style>
