.socialButtons {
  display: flex;
  list-style-type: none;
  padding: 0;
}
.socialButtons li {
  display: inline-block;
  margin-right: 0.5rem;
}
.socialButtons li:last-child {
  display: inline-block;
  margin-left: auto;
}
